  /* 初始化样式 “ * ”号代表全部标签 */
  *{
    margin: 0px;/* 外边距 */
    padding: 0px;/* 填充，属性定义元素边框与元素内容之间的空间 */
    list-style: none;/* 列表样式 */
    text-decoration: none;/* 文本修饰，如下划线 */
    /* 去掉没必要的样式 */
}
.main{
    width: 800px;/* 让网页只有800宽 */
    margin: auto;/* 水平居中 */

}
.bt1{
    color: rgb(68, 68, 68);
    font-weight: bold;/* 字体变粗 */
    font-size: 20pt;/* 字体大小 */

    }
.headr,.nav,.container,.footer{
    float: left;/* 这四个盒子都要左浮动 */
    width: 100%;/* 宽度100% */
    box-sizing: border-box;
    /* 当定义width和height时，border和padding的参数值被包含在width和height之内。类似限定边界 */
}
.headr{
    background-color: #91C2D0;/* 背景属性 */
    padding: 20px;/* 内边距属性 */
    text-align: center;/* 水平对齐 */
}
.nav{
    background: #8EB4C7;
}
.nav a{
    text-decoration: none;/* 取消a标签下划线 */
    color: rgb(255, 255, 255);    
    padding: 10px 20px;/* 内边距属性 */
    display: inline-block;/* 让链接以块的形式显示  display：用于定义建立布局时元素生成的显示框类型*/
}
.nav a:hover{
    background: #89ACC0;
    color: #000;
}
.lside{
    width: 200px;
    float: left;/* 左浮动 */
}
.rside{
    width: 200px;
    float: right;/* 右浮动 */
}
.content{
    margin: 0px 210px;
}
.lside,.content,.rside{
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}
.container{
    /* background: rgb(255, 0, 0); */
    background-image: url(img/bifdf.jpg);
    background-repeat: no-repeat;/*设置背景图片不重复*/
    background-size:1080px 1438px;/*设置背景图片大小*/
    background-position: -200px -500px;/*设置背景图片位置*/
    
}
.footer{
    padding: 10px;
    background: #8396A4;
    text-align: center;
    /* 固定定位（position:fixed;） */
    /* 向上移动像素（bottom:10px;） */
}

/* 当浏览宽度小于700时，三个栏进行竖排 
 @media：媒体，screen：类型:彩色屏幕，(max-width:700px)：属性:<=700px. (min则是大于): */
@media screen and (max-width:700px){
    .lside,.content,.rside{
        width: 100%;
        margin: 0%;
    }
    
}
.bqb{
    width: 200px;
    height: 130px;
    background: orange;
    margin: auto;/* 水平居中 */
    text-align: center;/* 文本水平对齐 */
    overflow: hidden;/* 隐藏超出盒子部分 */

}
.bqb img{
    width: 200px;
    height: 130px;
    float: left;
    transition: 0.5s;/* 动画过渡0.5秒 */
}
.bqb img:hover{
    transform: scale(1.3);/* 使其改变，缩放，1.3倍 */
    cursor: pointer;/* 鼠标经过时程小手样式 */
}
.bqbbt{
    width: 100%;
    height: 28px;
    background: #000000;
    float: left;
    position: relative;/* 相对定位 */
    top: -28px;/* 向上移动 */
    opacity: 50%;/* 透明度 */
}
.bqb a{
    text-decoration: none;/* 取消a标签下划线 */
    color: rgb(255, 255, 255);    
    padding: 0px 20px;/* 内边距属性 */
    line-height: 28px;/* 行高   */ 
    display: inline-block;/* 让链接以块的形式显示  display：用于定义建立布局时元素生成的显示框类型*/
}
.bqb a:hover{
    /* background: #89ACC0; */
    color: rgb(255, 255, 255);}
    